#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.MovieList {
  width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  outline: 1px solid #55c1c6;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  justify-items: center;
  border-radius: 10px;
}

.MovieList .movie {
  width: 100%;
  border: 1px solid #257b8f;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 1rem;
  background-color: #0d192b;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  gap: 1rem;
}

.MovieList .movie:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

.MovieList .movie img {
  width: 100%;
  max-height: 20rem;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.MovieList .movie h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Add text shadow */
}

.MovieList .movie p {
  font-size: 1rem;
  line-height: 1.3;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-details{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.MovieList .movie {
  animation: fadeIn 0.5s ease-in-out;
}

.movie-rating{
  background-color: cyan;
  color: black;
  font-weight: bolder;
  padding: 0.1rem;
}

.search-input {
  width: 40%;
  padding: 12px;
  border: 2px solid #55c1c6;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f0f0f0;
  color: #333;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  margin: 1rem;
}

.search-input:focus {
  border-color: #257b8f;
}

.form{
  display: flex;
align-items: center;
justify-content: space-around;
padding: 1rem;
}


@media (320px <= width <=480px){
  .form h1{
font-size: 1.5rem;
  }

  .form input{
    width: 12rem;
  }
}